# Installing Required Packages

In [1]:
!pip3.10 install sqlalchemy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: sqlalchemy in /home/kavya/.local/lib/python3.10/site-packages (2.0.5.post1)
Requirement already satisfied: typing-extensions>=4.2.0 in /home/kavya/.local/lib/python3.10/site-packages (from sqlalchemy) (4.5.0)
Requirement already satisfied: greenlet!=0.4.17 in /home/kavya/.local/lib/python3.10/site-packages (from sqlalchemy) (2.0.2)

In [2]:
!pip3.10 install psycopg2

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: psycopg2 in /home/kavya/.local/lib/python3.10/site-packages (2.9.5)

# Importing the Required Packages

In [1]:
#Importing Package
import sqlalchemy
#Database Utility Class
from sqlalchemy.engine import create_engine
# Provides executable SQL expression construct
from sqlalchemy.sql import text
sqlalchemy.__version__

'1.4.39'

In [3]:
class PostgresqlDB:
    def __init__(self,user_name,password,host,port,db_name):
        """
        class to implement DDL, DQL and DML commands,
        user_name:- username
        password:- password of the user
        host
        port:- port number
        db_name:- database name
        """
        self.user_name = user_name
        self.password = password
        self.host = host
        self.port = port
        self.db_name = db_name
        self.engine = self.create_db_engine()

    def create_db_engine(self):
        """
        Method to establish a connection to the database, will return an instance of Engine
        which can used to communicate with the database
        """
        try:
            db_uri = f"postgresql+psycopg2://{self.user_name}:{self.password}@{self.host}:{self.port}/{self.db_name}"
            return create_engine(db_uri)
        except Exception as err:
            raise RuntimeError(f'Failed to establish connection -- {err}') from err

    def execute_dql_commands(self,stmnt,values=None):
        """
        DQL - Data Query Language
        SQLAlchemy execute query by default as 

        BEGIN
        ....
        ROLLBACK 

        BEGIN will be added implicitly everytime but if we don't mention commit or rollback explicitly 
        then rollback will be appended at the end.
        We can execute only retrieval query with above transaction block.If we try to insert or update data 
        it will be rolled back.That's why it is necessary to use commit when we are executing 
        Data Manipulation Langiage(DML) or Data Definition Language(DDL) Query.
        """
        try:
            with self.engine.connect() as conn:
                if values is not None:
                    result = conn.execute(text(stmnt),values)
                else:
                    result = conn.execute(text(stmnt))
            return result
        except Exception as err:
            print(f'Failed to execute dql commands -- {err}')
    
    def execute_ddl_and_dml_commands(self,stmnt,values=None):
        """
        Method to execute DDL and DML commands
        here we have followed another approach without using the "with" clause
        """
        connection = self.engine.connect()
        trans = connection.begin()
        try:
            if values is not None:

                result = connection.execute(text(stmnt),values)
            else:
                result = connection.execute(text(stmnt))
            trans.commit()
            connection.close()
            print('Command executed successfully.')
        except Exception as err:
            trans.rollback()
            print(f'Failed to execute ddl and dml commands -- {err}')

In [4]:
#Defining Db Credentials
USER_NAME = 'postgres'
PASSWORD = 'postgres'
PORT = 5432
DATABASE_NAME = 'ems'
HOST = 'localhost'

#Note - Database should be created before executing below operation
#Initializing SqlAlchemy Postgresql Db Instance
db = PostgresqlDB(user_name=USER_NAME,
                    password=PASSWORD,
                    host=HOST,port=PORT,
                    db_name=DATABASE_NAME)
engine = db.engine

In [5]:
roles = "CREATE TABLE roles(id integer PRIMARY KEY, dept text not null, \
    name text not null, role_level integer not null);"
db.execute_ddl_and_dml_commands(roles)

Command executed successfully.

In [6]:
employee = "CREATE TABLE employee(id integer PRIMARY KEY, \
    first_name text not null, \
    last_name text not null, \
    dob date not null, \
    ph_num bigint not null, gender char(1) not null, \
    email text not null, join_date date not null, \
    address text, account_num bigint not null, \
    working_currently boolean not null);"
db.execute_ddl_and_dml_commands(employee)

Command executed successfully.

In [7]:
deductions = "CREATE TABLE deductions(id serial PRIMARY KEY, role_id integer, name text not null, amount integer not null, issue_date date not null, empid integer, \
    constraint fk_deductions_emp foreign key (empid) references employee(id), \
    constraint fk_deductions_role foreign key (role_id) references roles(id));"
db.execute_ddl_and_dml_commands(deductions)

Command executed successfully.

In [9]:
clients = "CREATE TABLE clients(id integer PRIMARY KEY, name text not null, \
    institution text, ph_num bigint not null, email text not null);"
db.execute_ddl_and_dml_commands(clients)

Failed to execute ddl and dml commands -- (psycopg2.errors.DuplicateTable) relation "clients" already exists

[SQL: CREATE TABLE clients(id integer PRIMARY KEY, name text not null,     institution text, ph_num bigint not null, email text not null);]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [10]:
projects = "CREATE TABLE projects(id integer PRIMARY KEY, \
    main_dept text, proj_head_one integer , \
    proj_head_two integer, start_date date not null, \
    status text not null, time_taken integer, \
    proj_type text, constraint fk_ph_one_emp foreign key (proj_head_one) \
    references employee(id), constraint fk_ph_two_emp foreign key (proj_head_two) \
    references employee(id));"
db.execute_ddl_and_dml_commands(projects)

Command executed successfully.

In [11]:
clientproject = "CREATE TABLE clientproject(proj_id integer, client_id integer, \
    feedback integer, review text, \
    PRIMARY KEY (proj_id, client_id), constraint fk_proj_cp foreign key (proj_id)\
    references projects(id), constraint fk_client_cp foreign key (client_id) \
    references clients(id));"
db.execute_ddl_and_dml_commands(clientproject)

Command executed successfully.

In [12]:
allowances = "CREATE TABLE allowances(id integer PRIMARY KEY, role_id integer, \
    name text not null, amount integer not null, frequency integer not null, \
    year integer not null, empid integer, \
    constraint fk_allowance_emp foreign key (empid) references employee(id), \
    constraint fk_allowance_role foreign key (role_id) references roles(id));"
db.execute_ddl_and_dml_commands(allowances)

Command executed successfully.

In [13]:
exemployee = "CREATE TABLE exemployee(id integer PRIMARY KEY, \
    date_left date not null, \
    reason varchar(20), constraint fk_emp_exemp foreign key (id) \
    references employee(id));"
db.execute_ddl_and_dml_commands(exemployee)

Command executed successfully.

In [14]:
leaves = "CREATE TABLE leaves( leave_type integer not null, \
    role_id integer, allowed_num integer not null, \
    pay_reduct integer, empid integer, \
    num_taken integer not null, taken_date date not null, \
    PRIMARY KEY (empid, taken_date), \
    constraint fk_leaves_emp foreign key (empid) references \
    employee(id), constraint fk_leaves_role foreign key \
    (role_id) references roles(id));"
db.execute_ddl_and_dml_commands(leaves)

Command executed successfully.

In [15]:
logindetails = "CREATE TABLE logindetails(empid integer, login_date date, \
    intime time not null, outtime time not null, \
    PRIMARY KEY (empid, login_date), \
    constraint fk_emp_login foreign key (empid) \
    references employee(id));"
db.execute_ddl_and_dml_commands(logindetails)

Command executed successfully.

In [16]:
performancescore = "CREATE TABLE performancescore(emp_id integer, proj_id integer, \
    role_id integer, performance integer, \
    PRIMARY KEY (emp_id, proj_id, role_id), \
    constraint fk_emp_ps foreign key (emp_id) references employee(id), \
    constraint fk_proj_ps foreign key (proj_id) references projects(id), \
    constraint fk_role_ps foreign key (role_id) references roles(id));"
db.execute_ddl_and_dml_commands(performancescore)

Command executed successfully.

In [17]:
salary = "CREATE TABLE salary(empid integer, issue_date date, basic_pay integer not null, gross integer not null, net_salary integer not null, performance_bonus integer, PRIMARY KEY(empid, issue_date), \
    constraint fk_salary_emp foreign key (empid) references employee(id) );"
db.execute_ddl_and_dml_commands(salary)

Command executed successfully.

In [18]:
skills = "CREATE TABLE skills(name_skill text not null, emp_id integer , PRIMARY KEY(name_skill, emp_id),\
    constraint fk_emp_skill foreign key (emp_id) \
    references employee(id) );"
db.execute_ddl_and_dml_commands(skills)

Command executed successfully.

In [19]:
training = "CREATE TABLE training(id serial PRIMARY KEY, name_skill text not null, tenure integer not null, \
    empid integer , constraint fk_emp_training foreign key (empid) \
    references employee(id));"
db.execute_ddl_and_dml_commands(training)

Command executed successfully.

In [20]:
transactions = "CREATE TABLE transactions(id integer PRIMARY KEY, empid integer, transfer_date date not null, amount integer not null, status text not null, \
    constraint fk_emp_transfer foreign key (empid) references employee(id));"
db.execute_ddl_and_dml_commands(transactions)

Command executed successfully.

In [21]:
import pandas as pd
import numpy

In [22]:
ALLOWANCES = pd.read_csv('./data/Allowances.csv', header=0, skiprows=[1])
DEDUCTIONS = pd.read_csv('./data/Deductions.csv', header=0, skiprows=[1])
CLIENTS = pd.read_csv('./data/Clients.csv', header=0, skiprows=[1])
CLIENTPROJECT = pd.read_csv('./data/client-project.csv', header=0, skiprows=[1])
EMPLOYEE = pd.read_csv('./data/Employee.csv', header=0, skiprows=[1])
EXEMPLOYEE = pd.read_csv('./data/Ex-employee.csv', header=0, skiprows=[1])
LEAVES = pd.read_csv('./data/Leaves.csv', header=0, skiprows=[1])
LOGINDETAILS = pd.read_csv('./data/Login-Details.csv', header=0, skiprows=[1])
PERFORMANCESCORE = pd.read_csv('./data/Performance-Score.csv', header=0, skiprows=[1])
PROJECTS = pd.read_csv('./data/Projects.csv', header=0, skiprows=[1])
ROLES = pd.read_csv('./data/Roles.csv', header=0, skiprows=[1])
SALARY = pd.read_csv('./data/Salary.csv', header=0, skiprows=[1])
SKILLS = pd.read_csv('./data/Skills.csv', header=0, skiprows=[1])
TRAINING = pd.read_csv('./data/Training.csv', header=0, skiprows=[1])
TRANSACTIONS = pd.read_csv('./data/Transactions.csv', header=0, skiprows=[1])

In [23]:
CLIENTS['Phone number'] = CLIENTS['Phone number'].str.replace("-","")

In [24]:
PROJECTS['Time taken'] = PROJECTS['Time taken'].str.replace("(null)","")

/tmp/ipykernel_94545/1031362903.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  PROJECTS['Time taken'] = PROJECTS['Time taken'].str.replace("(null)","")

In [25]:
CLIENTPROJECT['Feedback'] = CLIENTPROJECT['Feedback'].astype(str)
CLIENTPROJECT['Feedback'] = CLIENTPROJECT['Feedback'].str.replace(".0","")

/tmp/ipykernel_94545/3315251021.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  CLIENTPROJECT['Feedback'] = CLIENTPROJECT['Feedback'].str.replace(".0","")

In [26]:
PERFORMANCESCORE['Performance score'] = PERFORMANCESCORE['Performance score'].astype(str).str.replace(".0","")

/tmp/ipykernel_94545/51149746.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  PERFORMANCESCORE['Performance score'] = PERFORMANCESCORE['Performance score'].astype(str).str.replace(".0","")

In [27]:
EMPLOYEE[' first name '] = EMPLOYEE[' first name '].str.strip()
EMPLOYEE[' last name '] = EMPLOYEE[' last name '].str.strip()
EMPLOYEE[' phone number '] = EMPLOYEE[' phone number '].str.strip()
EMPLOYEE[' phone number '] = EMPLOYEE[' phone number '].str.replace("-", "")
EMPLOYEE[' email '] = EMPLOYEE[' email '].str.strip()
EMPLOYEE[' address '] = EMPLOYEE[' address '].str.strip()
EMPLOYEE[' gender '] = EMPLOYEE[' gender '].str.strip()
print(EMPLOYEE.head())

   employee id   first name   last name   date of birth    role level   \
0             1         John       Smith      1985-05-10             3
1             2         Jane         Doe      1990-08-15             2
2             3      Michael     Johnson      1992-01-22             1
3             4        Sarah    Williams      1988-04-27             4
4             5        David       Brown      1995-11-02             2

   phone number   gender                        email   joining date   \
0        5551234        M       john.smith@example.com     2015-01-01
1        5555678        F         jane.doe@example.com     2016-02-01
2        5559876        M  michael.johnson@example.com     2017-03-01
3        5554321        F   sarah.williams@example.com     2018-04-01
4        5558765        M      david.brown@example.com     2019-05-01

                     address    bank account number    working currently
0   123 Main St, Anytown, USA             1234567890                   1
1  456 Maple St, Anytown, USA             2345678901                   1
2    789 Oak St, Anytown, USA             3456789012                   1
3     12 Elm St, Anytown, USA             4567890123                   1
4   345 Pine St, Anytown, USA             5678901234                   1

In [28]:
for x in ROLES.index:
    entry = {'id':int(ROLES['Role id'][x]), 'dept':ROLES['Department'][x], 'name':ROLES['Name'][x], 'role_level':int(ROLES['Role level'][x])}
    insert = "INSERT INTO roles (id, dept, name, role_level) VALUES \
        (:id, :dept, :name, :role_level);"
    db.execute_ddl_and_dml_commands(insert, entry)

Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.

In [29]:
for x in EMPLOYEE.index:
    entry = {'id':int(EMPLOYEE['employee id '][x]), 'first_name':EMPLOYEE[' first name '][x], 'last_name':EMPLOYEE[' last name '][x], 'dob':EMPLOYEE[' date of birth '][x], 'ph_num':int(EMPLOYEE[' phone number '][x]), 'gender':EMPLOYEE[' gender '][x], 'email':EMPLOYEE[' email '][x], 'address':EMPLOYEE[' address '][x], 'join_date':EMPLOYEE[' joining date '][x], 'account_num':int(EMPLOYEE[' bank account number '][x]), 'working_currently':bool(EMPLOYEE[' working currently'][x])}
    insert = "INSERT INTO employee (id, first_name, last_name, dob, ph_num, gender, email, address, join_date, account_num, working_currently) \
        VALUES (:id, :first_name, :last_name, :dob, :ph_num, :gender, :email, :address, :join_date, :account_num, :working_currently);"
    db.execute_ddl_and_dml_commands(insert, entry)

Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.

In [30]:
for x in DEDUCTIONS.index:
    entry = {'id':int(DEDUCTIONS['Deduction id'][x]), 'role_id':int(DEDUCTIONS['Role id'][x]), 'name':DEDUCTIONS['Name'][x], 'amount':int(DEDUCTIONS['Amount'][x]), 'issue_date':DEDUCTIONS['Date'][x], 'empid':int(DEDUCTIONS['Employee id'][x])}
    insert = "INSERT INTO deductions (id, role_id, name, amount, issue_date, empid) VALUES \
        (:id, :role_id, :name, :amount, :issue_date, :empid);"
    db.execute_ddl_and_dml_commands(insert, entry)

Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.

In [31]:
for x in CLIENTS.index:
    entry = {'id':int(CLIENTS['Client id'][x]), 'name':CLIENTS['Name'][x], 'institution':CLIENTS['Institution'][x], 'ph_num':int(CLIENTS['Phone number'][x]), 'email':CLIENTS['Email id'][x]}
    insert = "INSERT INTO clients (id, name, institution, ph_num, email) VALUES \
        (:id, :name, :institution, :ph_num, :email);"
    db.execute_ddl_and_dml_commands(insert, entry)

Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.

In [33]:
for x in PROJECTS.index:
    if(PROJECTS['Time taken'][x] == ""):
        entry = {'id':int(PROJECTS['Project id'][x]), 'main_dept':PROJECTS['Main Department'][x], 'proj_head_one':int(PROJECTS['Project head 1'][x]), 'proj_head_two':int(PROJECTS['Project head 2'][x]), 'start_date':PROJECTS['Start date'][x], 'status':PROJECTS['Status'][x], 'proj_type':PROJECTS['Project type'][x]}
        insert = "INSERT INTO projects (id, main_dept, proj_head_one, proj_head_two, start_date, status, proj_type) \
            VALUES (:id, :main_dept, :proj_head_one, :proj_head_two, :start_date, :status, :proj_type);"
    else:
        entry = {'id':int(PROJECTS['Project id'][x]), 'main_dept':PROJECTS['Main Department'][x], 'proj_head_one':int(PROJECTS['Project head 1'][x]), 'proj_head_two':int(PROJECTS['Project head 2'][x]), 'start_date':PROJECTS['Start date'][x], 'status':PROJECTS['Status'][x], 'time_taken':int(PROJECTS['Time taken'][x]), 'proj_type':PROJECTS['Project type'][x]}
        insert = "INSERT INTO projects (id, main_dept, proj_head_one, proj_head_two, start_date, status, time_taken, proj_type) \
            VALUES (:id, :main_dept, :proj_head_one, :proj_head_two, :start_date, :status, :time_taken, :proj_type);"
    db.execute_ddl_and_dml_commands(insert, entry)

Failed to execute ddl and dml commands -- (psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "projects_pkey"
DETAIL:  Key (id)=(1) already exists.

[SQL: INSERT INTO projects (id, main_dept, proj_head_one, proj_head_two, start_date, status, time_taken, proj_type)             VALUES (%(id)s, %(main_dept)s, %(proj_head_one)s, %(proj_head_two)s, %(start_date)s, %(status)s, %(time_taken)s, %(proj_type)s);]
[parameters: {'id': 1, 'main_dept': 'Product Development', 'proj_head_one': 12, 'proj_head_two': 17, 'start_date': '2018-06-15', 'status': 'Completed', 'time_taken': 18, 'proj_type': 'IT service '}]
(Background on this error at: https://sqlalche.me/e/14/gkpj)

ValueError: invalid literal for int() with base 10: '()'

In [34]:
for x in CLIENTPROJECT.index:
    if(CLIENTPROJECT['Feedback'][x] == "nan"):
        entry = {'proj_id':int(CLIENTPROJECT['Project id'][x]), 'client_id':int(CLIENTPROJECT['Client id'][x])}
        insert = "INSERT INTO clientproject (proj_id, client_id) VALUES \
        (:proj_id, :client_id);"
    else:
        entry = {'proj_id':int(CLIENTPROJECT['Project id'][x]), 'client_id':int(CLIENTPROJECT['Client id'][x]), 'feedback':int(CLIENTPROJECT['Feedback'][x]), 'review':CLIENTPROJECT['Review Note'][x]}
        insert = "INSERT INTO clientproject (proj_id, client_id, feedback, review) VALUES \
            (:proj_id, :client_id, :feedback, :review);"
    db.execute_ddl_and_dml_commands(insert, entry)

Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.

In [35]:
for x in ALLOWANCES.index:
    entry = {'id':int(ALLOWANCES['Allowance id'][x]), 'role_id':int(ALLOWANCES['Role id'][x]), 'name':ALLOWANCES['Name'][x], 'amount':int(ALLOWANCES['Amount'][x]), 'frequency':int(ALLOWANCES['Frequency_per_year'][x]), 'year':int(ALLOWANCES['Year'][x]), 'empid':int(ALLOWANCES['employee id'][x])}
    insert = "INSERT INTO allowances (id, role_id, name, amount, frequency, year, empid) VALUES \
        (:id, :role_id, :name, :amount, :frequency, :year, :empid);"
    db.execute_ddl_and_dml_commands(insert, entry)

Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.

In [36]:
for x in EXEMPLOYEE.index:
    entry = {'id':int(EXEMPLOYEE['Employee id'][x]), 'date_left':EXEMPLOYEE['Date of leaving'][x], 'reason':EXEMPLOYEE['Reason/Remarks'][x]}
    insert = "INSERT INTO exemployee (id, date_left, reason) VALUES \
        (:id, :date_left, :reason);"
    db.execute_ddl_and_dml_commands(insert, entry)

Command executed successfully.
Command executed successfully.
Command executed successfully.

In [37]:
for x in LEAVES.index:
    entry = {'leave_type':int(LEAVES['Leave type'][x]), 'role_id':int(LEAVES['Role id'][x]), 'allowed_num':int(LEAVES['Allowed num'][x]), 'pay_reduct':int(LEAVES['Payment reduction per leave taken'][x]), 'empid':int(LEAVES['Employee id'][x]), 'num_taken':int(LEAVES['Number of leaves taken'][x]), 'taken_date':LEAVES['Date'][x]}
    insert = "INSERT INTO leaves (leave_type, role_id, allowed_num, pay_reduct, empid, num_taken, taken_date) VALUES \
        (:leave_type, :role_id, :allowed_num, :pay_reduct, :empid, :num_taken, :taken_date);"
    db.execute_ddl_and_dml_commands(insert, entry)

Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.

In [38]:
for x in LOGINDETAILS.index:
    entry = {'empid':int(LOGINDETAILS['Employee id'][x]), 'login_date':LOGINDETAILS['Date'][x], 'intime':LOGINDETAILS['In Time'][x], 'outtime':LOGINDETAILS['Out Time'][x]}
    insert = "INSERT INTO logindetails (empid, login_date, intime, outtime) VALUES \
        (:empid, :login_date, :intime, :outtime);"
    db.execute_ddl_and_dml_commands(insert, entry)

Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.

In [39]:
for x in PERFORMANCESCORE.index:
    if (PERFORMANCESCORE['Performance score'][x] == "nan"):
        entry = {'emp_id':int(PERFORMANCESCORE['Employee id'][x]), 'proj_id':int(PERFORMANCESCORE['Project id'][x]), 'role_id':int(PERFORMANCESCORE['Role id'][x])}
        insert = "INSERT INTO performancescore (emp_id, proj_id, role_id) VALUES \
            (:emp_id, :proj_id, :role_id)"
    else:
        entry = {'emp_id':int(PERFORMANCESCORE['Employee id'][x]), 'proj_id':int(PERFORMANCESCORE['Project id'][x]), 'role_id':int(PERFORMANCESCORE['Role id'][x]), 'performance':int(PERFORMANCESCORE['Performance score'][x])}
        insert = "INSERT INTO performancescore (emp_id, proj_id, role_id, performance) VALUES \
            (:emp_id, :proj_id, :role_id, :performance)"
    db.execute_ddl_and_dml_commands(insert, entry)

Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.

In [45]:
for x in SALARY.index:
    entry = {'empid':{SALARY['Employee id'][x]}, 'issue_date':{SALARY['Date'][x]}, 'basic_pay':{SALARY['Basic pay'][x]}, 'gross':{SALARY['Gross Salary'][x]}, 'net_salary':{SALARY['Net Salary'][x]}, 'performance_bonus':{SALARY['Performance Bonus'][x]}}
    insert = "INSERT INTO salary (empid, issue_date, basic_pay, gross, net_salary, performance_bonus) VALUES \
        (:empid, :issue_date, :basic_pay, :gross, :net_salary, :performance_bonus);"
    db.execute_ddl_and_dml_commands(insert, entry)

Failed to execute ddl and dml commands -- (psycopg2.ProgrammingError) can't adapt type 'set'
[SQL: INSERT INTO salary (empid, issue_date, basic_pay, gross, net_salary, performance_bonus) VALUES         (%(empid)s, %(issue_date)s, %(basic_pay)s, %(gross)s, %(net_salary)s, %(performance_bonus)s);]
[parameters: {'empid': {1}, 'issue_date': {'2021-11-30'}, 'basic_pay': {90000}, 'gross': {nan}, 'net_salary': {nan}, 'performance_bonus': {2000}}]
(Background on this error at: https://sqlalche.me/e/14/f405)
Failed to execute ddl and dml commands -- (psycopg2.ProgrammingError) can't adapt type 'set'
[SQL: INSERT INTO salary (empid, issue_date, basic_pay, gross, net_salary, performance_bonus) VALUES         (%(empid)s, %(issue_date)s, %(basic_pay)s, %(gross)s, %(net_salary)s, %(performance_bonus)s);]
[parameters: {'empid': {2}, 'issue_date': {'2021-11-30'}, 'basic_pay': {70000}, 'gross': {nan}, 'net_salary': {nan}, 'performance_bonus': {1000}}]
(Background on this error at: https://sqlalche.me/e/14/f405)
Failed to execute ddl and dml commands -- (psycopg2.ProgrammingError) can't adapt type 'set'
[SQL: INSERT INTO salary (empid, issue_date, basic_pay, gross, net_salary, performance_bonus) VALUES         (%(empid)s, %(issue_date)s, %(basic_pay)s, %(gross)s, %(net_salary)s, %(performance_bonus)s);]
[parameters: {'empid': {3}, 'issue_date': {'2021-11-30'}, 'basic_pay': {50000}, 'gross': {nan}, 'net_salary': {nan}, 'performance_bonus': {500}}]
(Background on this error at: https://sqlalche.me/e/14/f405)
Failed to execute ddl and dml commands -- (psycopg2.ProgrammingError) can't adapt type 'set'
[SQL: INSERT INTO salary (empid, issue_date, basic_pay, gross, net_salary, performance_bonus) VALUES         (%(empid)s, %(issue_date)s, %(basic_pay)s, %(gross)s, %(net_salary)s, %(performance_bonus)s);]
[parameters: {'empid': {4}, 'issue_date': {'2021-11-30'}, 'basic_pay': {110000}, 'gross': {nan}, 'net_salary': {nan}, 'performance_bonus': {3000}}]
(Background on this error at: https://sqlalche.me/e/14/f405)
Failed to execute ddl and dml commands -- (psycopg2.ProgrammingError) can't adapt type 'set'
[SQL: INSERT INTO salary (empid, issue_date, basic_pay, gross, net_salary, performance_bonus) VALUES         (%(empid)s, %(issue_date)s, %(basic_pay)s, %(gross)s, %(net_salary)s, %(performance_bonus)s);]
[parameters: {'empid': {5}, 'issue_date': {'2021-11-30'}, 'basic_pay': {70000}, 'gross': {nan}, 'net_salary': {nan}, 'performance_bonus': {1500}}]
(Background on this error at: https://sqlalche.me/e/14/f405)
Failed to execute ddl and dml commands -- (psycopg2.ProgrammingError) can't adapt type 'set'
[SQL: INSERT INTO salary (empid, issue_date, basic_pay, gross, net_salary, performance_bonus) VALUES         (%(empid)s, %(issue_date)s, %(basic_pay)s, %(gross)s, %(net_salary)s, %(performance_bonus)s);]
[parameters: {'empid': {6}, 'issue_date': {'2021-11-30'}, 'basic_pay': {90000}, 'gross': {nan}, 'net_salary': {nan}, 'performance_bonus': {2000}}]
(Background on this error at: https://sqlalche.me/e/14/f405)
Failed to execute ddl and dml commands -- (psycopg2.ProgrammingError) can't adapt type 'set'
[SQL: INSERT INTO salary (empid, issue_date, basic_pay, gross, net_salary, performance_bonus) VALUES         (%(empid)s, %(issue_date)s, %(basic_pay)s, %(gross)s, %(net_salary)s, %(performance_bonus)s);]
[parameters: {'empid': {7}, 'issue_date': {'2021-11-30'}, 'basic_pay': {120000}, 'gross': {nan}, 'net_salary': {nan}, 'performance_bonus': {4000}}]
(Background on this error at: https://sqlalche.me/e/14/f405)
Failed to execute ddl and dml commands -- (psycopg2.ProgrammingError) can't adapt type 'set'
[SQL: INSERT INTO salary (empid, issue_date, basic_pay, gross, net_salary, performance_bonus) VALUES         (%(empid)s, %(issue_date)s, %(basic_pay)s, %(gross)s, %(net_salary)s, %(performance_bonus)s);]
[parameters: {'empid': {8}, 'issue_date': {'2021-11-30'}, 'basic_pay': {70000}, 'gross': {nan}, 'net_salary': {nan}, 'performance_bonus': {500}}]
(Background on this error at: https://sqlalche.me/e/14/f405)
Failed to execute ddl and dml commands -- (psycopg2.ProgrammingError) can't adapt type 'set'
[SQL: INSERT INTO salary (empid, issue_date, basic_pay, gross, net_salary, performance_bonus) VALUES         (%(empid)s, %(issue_date)s, %(basic_pay)s, %(gross)s, %(net_salary)s, %(performance_bonus)s);]
[parameters: {'empid': {10}, 'issue_date': {'2021-11-30'}, 'basic_pay': {90000}, 'gross': {nan}, 'net_salary': {nan}, 'performance_bonus': {2000}}]
(Background on this error at: https://sqlalche.me/e/14/f405)
Failed to execute ddl and dml commands -- (psycopg2.ProgrammingError) can't adapt type 'set'
[SQL: INSERT INTO salary (empid, issue_date, basic_pay, gross, net_salary, performance_bonus) VALUES         (%(empid)s, %(issue_date)s, %(basic_pay)s, %(gross)s, %(net_salary)s, %(performance_bonus)s);]
[parameters: {'empid': {11}, 'issue_date': {'2021-11-30'}, 'basic_pay': {70000}, 'gross': {nan}, 'net_salary': {nan}, 'performance_bonus': {1000}}]
(Background on this error at: https://sqlalche.me/e/14/f405)
Failed to execute ddl and dml commands -- (psycopg2.ProgrammingError) can't adapt type 'set'
[SQL: INSERT INTO salary (empid, issue_date, basic_pay, gross, net_salary, performance_bonus) VALUES         (%(empid)s, %(issue_date)s, %(basic_pay)s, %(gross)s, %(net_salary)s, %(performance_bonus)s);]
[parameters: {'empid': {12}, 'issue_date': {'2021-11-30'}, 'basic_pay': {120000}, 'gross': {nan}, 'net_salary': {nan}, 'performance_bonus': {3500}}]
(Background on this error at: https://sqlalche.me/e/14/f405)
Failed to execute ddl and dml commands -- (psycopg2.ProgrammingError) can't adapt type 'set'
[SQL: INSERT INTO salary (empid, issue_date, basic_pay, gross, net_salary, performance_bonus) VALUES         (%(empid)s, %(issue_date)s, %(basic_pay)s, %(gross)s, %(net_salary)s, %(performance_bonus)s);]
[parameters: {'empid': {13}, 'issue_date': {'2021-11-30'}, 'basic_pay': {110000}, 'gross': {nan}, 'net_salary': {nan}, 'performance_bonus': {3500}}]
(Background on this error at: https://sqlalche.me/e/14/f405)
Failed to execute ddl and dml commands -- (psycopg2.ProgrammingError) can't adapt type 'set'
[SQL: INSERT INTO salary (empid, issue_date, basic_pay, gross, net_salary, performance_bonus) VALUES         (%(empid)s, %(issue_date)s, %(basic_pay)s, %(gross)s, %(net_salary)s, %(performance_bonus)s);]
[parameters: {'empid': {14}, 'issue_date': {'2021-11-30'}, 'basic_pay': {90000}, 'gross': {nan}, 'net_salary': {nan}, 'performance_bonus': {2500}}]
(Background on this error at: https://sqlalche.me/e/14/f405)
Failed to execute ddl and dml commands -- (psycopg2.ProgrammingError) can't adapt type 'set'
[SQL: INSERT INTO salary (empid, issue_date, basic_pay, gross, net_salary, performance_bonus) VALUES         (%(empid)s, %(issue_date)s, %(basic_pay)s, %(gross)s, %(net_salary)s, %(performance_bonus)s);]
[parameters: {'empid': {15}, 'issue_date': {'2021-11-30'}, 'basic_pay': {70000}, 'gross': {nan}, 'net_salary': {nan}, 'performance_bonus': {500}}]
(Background on this error at: https://sqlalche.me/e/14/f405)
Failed to execute ddl and dml commands -- (psycopg2.ProgrammingError) can't adapt type 'set'
[SQL: INSERT INTO salary (empid, issue_date, basic_pay, gross, net_salary, performance_bonus) VALUES         (%(empid)s, %(issue_date)s, %(basic_pay)s, %(gross)s, %(net_salary)s, %(performance_bonus)s);]
[parameters: {'empid': {16}, 'issue_date': {'2021-11-30'}, 'basic_pay': {50000}, 'gross': {nan}, 'net_salary': {nan}, 'performance_bonus': {0}}]
(Background on this error at: https://sqlalche.me/e/14/f405)
Failed to execute ddl and dml commands -- (psycopg2.ProgrammingError) can't adapt type 'set'
[SQL: INSERT INTO salary (empid, issue_date, basic_pay, gross, net_salary, performance_bonus) VALUES         (%(empid)s, %(issue_date)s, %(basic_pay)s, %(gross)s, %(net_salary)s, %(performance_bonus)s);]
[parameters: {'empid': {17}, 'issue_date': {'2021-11-30'}, 'basic_pay': {120000}, 'gross': {nan}, 'net_salary': {nan}, 'performance_bonus': {4000}}]
(Background on this error at: https://sqlalche.me/e/14/f405)
Failed to execute ddl and dml commands -- (psycopg2.ProgrammingError) can't adapt type 'set'
[SQL: INSERT INTO salary (empid, issue_date, basic_pay, gross, net_salary, performance_bonus) VALUES         (%(empid)s, %(issue_date)s, %(basic_pay)s, %(gross)s, %(net_salary)s, %(performance_bonus)s);]
[parameters: {'empid': {18}, 'issue_date': {'2021-11-30'}, 'basic_pay': {110000}, 'gross': {nan}, 'net_salary': {nan}, 'performance_bonus': {3000}}]
(Background on this error at: https://sqlalche.me/e/14/f405)
Failed to execute ddl and dml commands -- (psycopg2.ProgrammingError) can't adapt type 'set'
[SQL: INSERT INTO salary (empid, issue_date, basic_pay, gross, net_salary, performance_bonus) VALUES         (%(empid)s, %(issue_date)s, %(basic_pay)s, %(gross)s, %(net_salary)s, %(performance_bonus)s);]
[parameters: {'empid': {19}, 'issue_date': {'2021-11-30'}, 'basic_pay': {90000}, 'gross': {nan}, 'net_salary': {nan}, 'performance_bonus': {2000}}]
(Background on this error at: https://sqlalche.me/e/14/f405)
Failed to execute ddl and dml commands -- (psycopg2.ProgrammingError) can't adapt type 'set'
[SQL: INSERT INTO salary (empid, issue_date, basic_pay, gross, net_salary, performance_bonus) VALUES         (%(empid)s, %(issue_date)s, %(basic_pay)s, %(gross)s, %(net_salary)s, %(performance_bonus)s);]
[parameters: {'empid': {20}, 'issue_date': {'2021-11-30'}, 'basic_pay': {70000}, 'gross': {nan}, 'net_salary': {nan}, 'performance_bonus': {1000}}]
(Background on this error at: https://sqlalche.me/e/14/f405)
Failed to execute ddl and dml commands -- (psycopg2.ProgrammingError) can't adapt type 'set'
[SQL: INSERT INTO salary (empid, issue_date, basic_pay, gross, net_salary, performance_bonus) VALUES         (%(empid)s, %(issue_date)s, %(basic_pay)s, %(gross)s, %(net_salary)s, %(performance_bonus)s);]
[parameters: {'empid': {21}, 'issue_date': {'2021-11-30'}, 'basic_pay': {50000}, 'gross': {nan}, 'net_salary': {nan}, 'performance_bonus': {500}}]
(Background on this error at: https://sqlalche.me/e/14/f405)
Failed to execute ddl and dml commands -- (psycopg2.ProgrammingError) can't adapt type 'set'
[SQL: INSERT INTO salary (empid, issue_date, basic_pay, gross, net_salary, performance_bonus) VALUES         (%(empid)s, %(issue_date)s, %(basic_pay)s, %(gross)s, %(net_salary)s, %(performance_bonus)s);]
[parameters: {'empid': {22}, 'issue_date': {'2021-11-30'}, 'basic_pay': {120000}, 'gross': {nan}, 'net_salary': {nan}, 'performance_bonus': {4500}}]
(Background on this error at: https://sqlalche.me/e/14/f405)
Failed to execute ddl and dml commands -- (psycopg2.ProgrammingError) can't adapt type 'set'
[SQL: INSERT INTO salary (empid, issue_date, basic_pay, gross, net_salary, performance_bonus) VALUES         (%(empid)s, %(issue_date)s, %(basic_pay)s, %(gross)s, %(net_salary)s, %(performance_bonus)s);]
[parameters: {'empid': {23}, 'issue_date': {'2021-11-30'}, 'basic_pay': {110000}, 'gross': {nan}, 'net_salary': {nan}, 'performance_bonus': {3000}}]
(Background on this error at: https://sqlalche.me/e/14/f405)
Failed to execute ddl and dml commands -- (psycopg2.ProgrammingError) can't adapt type 'set'
[SQL: INSERT INTO salary (empid, issue_date, basic_pay, gross, net_salary, performance_bonus) VALUES         (%(empid)s, %(issue_date)s, %(basic_pay)s, %(gross)s, %(net_salary)s, %(performance_bonus)s);]
[parameters: {'empid': {24}, 'issue_date': {'2021-11-30'}, 'basic_pay': {90000}, 'gross': {nan}, 'net_salary': {nan}, 'performance_bonus': {2000}}]
(Background on this error at: https://sqlalche.me/e/14/f405)
Failed to execute ddl and dml commands -- (psycopg2.ProgrammingError) can't adapt type 'set'
[SQL: INSERT INTO salary (empid, issue_date, basic_pay, gross, net_salary, performance_bonus) VALUES         (%(empid)s, %(issue_date)s, %(basic_pay)s, %(gross)s, %(net_salary)s, %(performance_bonus)s);]
[parameters: {'empid': {25}, 'issue_date': {'2021-11-30'}, 'basic_pay': {70000}, 'gross': {nan}, 'net_salary': {nan}, 'performance_bonus': {1500}}]
(Background on this error at: https://sqlalche.me/e/14/f405)
Failed to execute ddl and dml commands -- (psycopg2.ProgrammingError) can't adapt type 'set'
[SQL: INSERT INTO salary (empid, issue_date, basic_pay, gross, net_salary, performance_bonus) VALUES         (%(empid)s, %(issue_date)s, %(basic_pay)s, %(gross)s, %(net_salary)s, %(performance_bonus)s);]
[parameters: {'empid': {26}, 'issue_date': {'2021-11-30'}, 'basic_pay': {50000}, 'gross': {nan}, 'net_salary': {nan}, 'performance_bonus': {500}}]
(Background on this error at: https://sqlalche.me/e/14/f405)
Failed to execute ddl and dml commands -- (psycopg2.ProgrammingError) can't adapt type 'set'
[SQL: INSERT INTO salary (empid, issue_date, basic_pay, gross, net_salary, performance_bonus) VALUES         (%(empid)s, %(issue_date)s, %(basic_pay)s, %(gross)s, %(net_salary)s, %(performance_bonus)s);]
[parameters: {'empid': {28}, 'issue_date': {'2021-11-30'}, 'basic_pay': {50000}, 'gross': {nan}, 'net_salary': {nan}, 'performance_bonus': {500}}]
(Background on this error at: https://sqlalche.me/e/14/f405)
Failed to execute ddl and dml commands -- (psycopg2.ProgrammingError) can't adapt type 'set'
[SQL: INSERT INTO salary (empid, issue_date, basic_pay, gross, net_salary, performance_bonus) VALUES         (%(empid)s, %(issue_date)s, %(basic_pay)s, %(gross)s, %(net_salary)s, %(performance_bonus)s);]
[parameters: {'empid': {29}, 'issue_date': {'2021-11-30'}, 'basic_pay': {70000}, 'gross': {nan}, 'net_salary': {nan}, 'performance_bonus': {500}}]
(Background on this error at: https://sqlalche.me/e/14/f405)
Failed to execute ddl and dml commands -- (psycopg2.ProgrammingError) can't adapt type 'set'
[SQL: INSERT INTO salary (empid, issue_date, basic_pay, gross, net_salary, performance_bonus) VALUES         (%(empid)s, %(issue_date)s, %(basic_pay)s, %(gross)s, %(net_salary)s, %(performance_bonus)s);]
[parameters: {'empid': {30}, 'issue_date': {'2021-11-30'}, 'basic_pay': {50000}, 'gross': {nan}, 'net_salary': {nan}, 'performance_bonus': {1000}}]
(Background on this error at: https://sqlalche.me/e/14/f405)
Failed to execute ddl and dml commands -- (psycopg2.ProgrammingError) can't adapt type 'set'
[SQL: INSERT INTO salary (empid, issue_date, basic_pay, gross, net_salary, performance_bonus) VALUES         (%(empid)s, %(issue_date)s, %(basic_pay)s, %(gross)s, %(net_salary)s, %(performance_bonus)s);]
[parameters: {'empid': {1}, 'issue_date': {'2021-12-31'}, 'basic_pay': {90000}, 'gross': {nan}, 'net_salary': {nan}, 'performance_bonus': {2500}}]
(Background on this error at: https://sqlalche.me/e/14/f405)
Failed to execute ddl and dml commands -- (psycopg2.ProgrammingError) can't adapt type 'set'
[SQL: INSERT INTO salary (empid, issue_date, basic_pay, gross, net_salary, performance_bonus) VALUES         (%(empid)s, %(issue_date)s, %(basic_pay)s, %(gross)s, %(net_salary)s, %(performance_bonus)s);]
[parameters: {'empid': {2}, 'issue_date': {'2021-12-31'}, 'basic_pay': {70000}, 'gross': {nan}, 'net_salary': {nan}, 'performance_bonus': {1000}}]
(Background on this error at: https://sqlalche.me/e/14/f405)
Failed to execute ddl and dml commands -- (psycopg2.ProgrammingError) can't adapt type 'set'
[SQL: INSERT INTO salary (empid, issue_date, basic_pay, gross, net_salary, performance_bonus) VALUES         (%(empid)s, %(issue_date)s, %(basic_pay)s, %(gross)s, %(net_salary)s, %(performance_bonus)s);]
[parameters: {'empid': {3}, 'issue_date': {'2021-12-31'}, 'basic_pay': {50000}, 'gross': {nan}, 'net_salary': {nan}, 'performance_bonus': {500}}]
(Background on this error at: https://sqlalche.me/e/14/f405)
Failed to execute ddl and dml commands -- (psycopg2.ProgrammingError) can't adapt type 'set'
[SQL: INSERT INTO salary (empid, issue_date, basic_pay, gross, net_salary, performance_bonus) VALUES         (%(empid)s, %(issue_date)s, %(basic_pay)s, %(gross)s, %(net_salary)s, %(performance_bonus)s);]
[parameters: {'empid': {4}, 'issue_date': {'2021-12-31'}, 'basic_pay': {110000}, 'gross': {nan}, 'net_salary': {nan}, 'performance_bonus': {3000}}]
(Background on this error at: https://sqlalche.me/e/14/f405)
Failed to execute ddl and dml commands -- (psycopg2.ProgrammingError) can't adapt type 'set'
[SQL: INSERT INTO salary (empid, issue_date, basic_pay, gross, net_salary, performance_bonus) VALUES         (%(empid)s, %(issue_date)s, %(basic_pay)s, %(gross)s, %(net_salary)s, %(performance_bonus)s);]
[parameters: {'empid': {5}, 'issue_date': {'2021-12-31'}, 'basic_pay': {70000}, 'gross': {nan}, 'net_salary': {nan}, 'performance_bonus': {1500}}]
(Background on this error at: https://sqlalche.me/e/14/f405)
Failed to execute ddl and dml commands -- (psycopg2.ProgrammingError) can't adapt type 'set'
[SQL: INSERT INTO salary (empid, issue_date, basic_pay, gross, net_salary, performance_bonus) VALUES         (%(empid)s, %(issue_date)s, %(basic_pay)s, %(gross)s, %(net_salary)s, %(performance_bonus)s);]
[parameters: {'empid': {6}, 'issue_date': {'2021-12-31'}, 'basic_pay': {90000}, 'gross': {nan}, 'net_salary': {nan}, 'performance_bonus': {2500}}]
(Background on this error at: https://sqlalche.me/e/14/f405)
Failed to execute ddl and dml commands -- (psycopg2.ProgrammingError) can't adapt type 'set'
[SQL: INSERT INTO salary (empid, issue_date, basic_pay, gross, net_salary, performance_bonus) VALUES         (%(empid)s, %(issue_date)s, %(basic_pay)s, %(gross)s, %(net_salary)s, %(performance_bonus)s);]
[parameters: {'empid': {7}, 'issue_date': {'2021-12-31'}, 'basic_pay': {120000}, 'gross': {nan}, 'net_salary': {nan}, 'performance_bonus': {4000}}]
(Background on this error at: https://sqlalche.me/e/14/f405)
Failed to execute ddl and dml commands -- (psycopg2.ProgrammingError) can't adapt type 'set'
[SQL: INSERT INTO salary (empid, issue_date, basic_pay, gross, net_salary, performance_bonus) VALUES         (%(empid)s, %(issue_date)s, %(basic_pay)s, %(gross)s, %(net_salary)s, %(performance_bonus)s);]
[parameters: {'empid': {8}, 'issue_date': {'2021-12-31'}, 'basic_pay': {70000}, 'gross': {nan}, 'net_salary': {nan}, 'performance_bonus': {1000}}]
(Background on this error at: https://sqlalche.me/e/14/f405)
Failed to execute ddl and dml commands -- (psycopg2.ProgrammingError) can't adapt type 'set'
[SQL: INSERT INTO salary (empid, issue_date, basic_pay, gross, net_salary, performance_bonus) VALUES         (%(empid)s, %(issue_date)s, %(basic_pay)s, %(gross)s, %(net_salary)s, %(performance_bonus)s);]
[parameters: {'empid': {11}, 'issue_date': {'2021-12-31'}, 'basic_pay': {70000}, 'gross': {nan}, 'net_salary': {nan}, 'performance_bonus': {1500}}]
(Background on this error at: https://sqlalche.me/e/14/f405)
Failed to execute ddl and dml commands -- (psycopg2.ProgrammingError) can't adapt type 'set'
[SQL: INSERT INTO salary (empid, issue_date, basic_pay, gross, net_salary, performance_bonus) VALUES         (%(empid)s, %(issue_date)s, %(basic_pay)s, %(gross)s, %(net_salary)s, %(performance_bonus)s);]
[parameters: {'empid': {12}, 'issue_date': {'2021-12-31'}, 'basic_pay': {120000}, 'gross': {nan}, 'net_salary': {nan}, 'performance_bonus': {4000}}]
(Background on this error at: https://sqlalche.me/e/14/f405)
Failed to execute ddl and dml commands -- (psycopg2.ProgrammingError) can't adapt type 'set'
[SQL: INSERT INTO salary (empid, issue_date, basic_pay, gross, net_salary, performance_bonus) VALUES         (%(empid)s, %(issue_date)s, %(basic_pay)s, %(gross)s, %(net_salary)s, %(performance_bonus)s);]
[parameters: {'empid': {13}, 'issue_date': {'2021-12-31'}, 'basic_pay': {110000}, 'gross': {nan}, 'net_salary': {nan}, 'performance_bonus': {3500}}]
(Background on this error at: https://sqlalche.me/e/14/f405)
Failed to execute ddl and dml commands -- (psycopg2.ProgrammingError) can't adapt type 'set'

In [41]:
for x in SKILLS.index:
    entry = {'name_skill':SKILLS['Name'][x], 'emp_id':int(SKILLS['Employee id'][x])}
    insert = "INSERT INTO skills (name_skill, emp_id) VALUES \
        (:name_skill, :emp_id);"
    db.execute_ddl_and_dml_commands(insert, entry)

Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.

In [42]:
for x in TRAINING.index:
    entry = {'id': int(TRAINING['Training id'][x]), 'name_skill':TRAINING['Domain'][x], 'tenure':int(TRAINING['Tenure'][x]), 'empid':int(TRAINING['Employee id'][x])}
    insert = "INSERT INTO training (id, name_skill, tenure, empid) VALUES \
        (:id, :name_skill, :tenure, :empid);"
    db.execute_ddl_and_dml_commands(insert, entry)

Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.

In [41]:
for x in TRANSACTIONS.index:
    entry = {'id':{TRANSACTIONS['Transaction id'][x]}, 'empid':{TRANSACTIONS['Employee id'][x]}, 'transfer_date':{TRANSACTIONS['Date'][x]}, 'amount':{TRANSACTIONS['Amount'][x]}, 'status':{TRANSACTIONS['Status'][x]}}
    insert = "INSERT INTO transactions (id, empid, transfer_date, amount, status) VALUES \
        (:id, :empid, :transfer_date, :amount, :status);"
    db.execute_ddl_and_dml_commands(insert, entry)

Failed to execute ddl and dml commands -- (psycopg2.ProgrammingError) can't adapt type 'set'
[SQL: INSERT INTO transactions (id, empid, transfer_date, amount, status) VALUES         (%(id)s, %(empid)s, %(transfer_date)s, %(amount)s, %(status)s);]
[parameters: {'id': {123456789012}, 'empid': {1}, 'transfer_date': {'2021-11-30'}, 'amount': {nan}, 'status': {'Done'}}]
(Background on this error at: https://sqlalche.me/e/14/f405)
Failed to execute ddl and dml commands -- (psycopg2.ProgrammingError) can't adapt type 'set'
[SQL: INSERT INTO transactions (id, empid, transfer_date, amount, status) VALUES         (%(id)s, %(empid)s, %(transfer_date)s, %(amount)s, %(status)s);]
[parameters: {'id': {124356789012}, 'empid': {2}, 'transfer_date': {'2021-11-30'}, 'amount': {nan}, 'status': {'Done'}}]
(Background on this error at: https://sqlalche.me/e/14/f405)
Failed to execute ddl and dml commands -- (psycopg2.ProgrammingError) can't adapt type 'set'
[SQL: INSERT INTO transactions (id, empid, transfer_date, amount, status) VALUES         (%(id)s, %(empid)s, %(transfer_date)s, %(amount)s, %(status)s);]
[parameters: {'id': {123465789012}, 'empid': {3}, 'transfer_date': {'2021-11-30'}, 'amount': {nan}, 'status': {'Done'}}]
(Background on this error at: https://sqlalche.me/e/14/f405)
Failed to execute ddl and dml commands -- (psycopg2.ProgrammingError) can't adapt type 'set'
[SQL: INSERT INTO transactions (id, empid, transfer_date, amount, status) VALUES         (%(id)s, %(empid)s, %(transfer_date)s, %(amount)s, %(status)s);]
[parameters: {'id': {123456879012}, 'empid': {4}, 'transfer_date': {'2021-11-30'}, 'amount': {nan}, 'status': {'Done'}}]
(Background on this error at: https://sqlalche.me/e/14/f405)
Failed to execute ddl and dml commands -- (psycopg2.ProgrammingError) can't adapt type 'set'
[SQL: INSERT INTO transactions (id, empid, transfer_date, amount, status) VALUES         (%(id)s, %(empid)s, %(transfer_date)s, %(amount)s, %(status)s);]
[parameters: {'id': {123456780912}, 'empid': {5}, 'transfer_date': {'2021-11-30'}, 'amount': {nan}, 'status': {'Done'}}]
(Background on this error at: https://sqlalche.me/e/14/f405)
Failed to execute ddl and dml commands -- (psycopg2.ProgrammingError) can't adapt type 'set'
[SQL: INSERT INTO transactions (id, empid, transfer_date, amount, status) VALUES         (%(id)s, %(empid)s, %(transfer_date)s, %(amount)s, %(status)s);]
[parameters: {'id': {123456789021}, 'empid': {6}, 'transfer_date': {'2021-11-30'}, 'amount': {nan}, 'status': {'Done'}}]
(Background on this error at: https://sqlalche.me/e/14/f405)
Failed to execute ddl and dml commands -- (psycopg2.ProgrammingError) can't adapt type 'set'
[SQL: INSERT INTO transactions (id, empid, transfer_date, amount, status) VALUES         (%(id)s, %(empid)s, %(transfer_date)s, %(amount)s, %(status)s);]
[parameters: {'id': {213456789034}, 'empid': {7}, 'transfer_date': {'2021-11-30'}, 'amount': {nan}, 'status': {'Done'}}]
(Background on this error at: https://sqlalche.me/e/14/f405)
Failed to execute ddl and dml commands -- (psycopg2.ProgrammingError) can't adapt type 'set'
[SQL: INSERT INTO transactions (id, empid, transfer_date, amount, status) VALUES         (%(id)s, %(empid)s, %(transfer_date)s, %(amount)s, %(status)s);]
[parameters: {'id': {213456789045}, 'empid': {8}, 'transfer_date': {'2021-11-30'}, 'amount': {nan}, 'status': {'Done'}}]
(Background on this error at: https://sqlalche.me/e/14/f405)
Failed to execute ddl and dml commands -- (psycopg2.ProgrammingError) can't adapt type 'set'
[SQL: INSERT INTO transactions (id, empid, transfer_date, amount, status) VALUES         (%(id)s, %(empid)s, %(transfer_date)s, %(amount)s, %(status)s);]
[parameters: {'id': {213456789056}, 'empid': {10}, 'transfer_date': {'2021-11-30'}, 'amount': {nan}, 'status': {'Done'}}]
(Background on this error at: https://sqlalche.me/e/14/f405)
Failed to execute ddl and dml commands -- (psycopg2.ProgrammingError) can't adapt type 'set'
[SQL: INSERT INTO transactions (id, empid, transfer_date, amount, status) VALUES         (%(id)s, %(empid)s, %(transfer_date)s, %(amount)s, %(status)s);]
[parameters: {'id': {213456789067}, 'empid': {11}, 'transfer_date': {'2021-11-30'}, 'amount': {nan}, 'status': {'Done'}}]
(Background on this error at: https://sqlalche.me/e/14/f405)
Failed to execute ddl and dml commands -- (psycopg2.ProgrammingError) can't adapt type 'set'
[SQL: INSERT INTO transactions (id, empid, transfer_date, amount, status) VALUES         (%(id)s, %(empid)s, %(transfer_date)s, %(amount)s, %(status)s);]
[parameters: {'id': {213456789078}, 'empid': {12}, 'transfer_date': {'2021-11-30'}, 'amount': {nan}, 'status': {'Done'}}]
(Background on this error at: https://sqlalche.me/e/14/f405)
Failed to execute ddl and dml commands -- (psycopg2.ProgrammingError) can't adapt type 'set'
[SQL: INSERT INTO transactions (id, empid, transfer_date, amount, status) VALUES         (%(id)s, %(empid)s, %(transfer_date)s, %(amount)s, %(status)s);]
[parameters: {'id': {213456789089}, 'empid': {13}, 'transfer_date': {'2021-11-30'}, 'amount': {nan}, 'status': {'Done'}}]
(Background on this error at: https://sqlalche.me/e/14/f405)
Failed to execute ddl and dml commands -- (psycopg2.ProgrammingError) can't adapt type 'set'
[SQL: INSERT INTO transactions (id, empid, transfer_date, amount, status) VALUES         (%(id)s, %(empid)s, %(transfer_date)s, %(amount)s, %(status)s);]
[parameters: {'id': {213456789090}, 'empid': {14}, 'transfer_date': {'2021-11-30'}, 'amount': {nan}, 'status': {'Done'}}]
(Background on this error at: https://sqlalche.me/e/14/f405)
Failed to execute ddl and dml commands -- (psycopg2.ProgrammingError) can't adapt type 'set'
[SQL: INSERT INTO transactions (id, empid, transfer_date, amount, status) VALUES         (%(id)s, %(empid)s, %(transfer_date)s, %(amount)s, %(status)s);]
[parameters: {'id': {231456789012}, 'empid': {15}, 'transfer_date': {'2021-11-30'}, 'amount': {nan}, 'status': {'Done'}}]
(Background on this error at: https://sqlalche.me/e/14/f405)
Failed to execute ddl and dml commands -- (psycopg2.ProgrammingError) can't adapt type 'set'
[SQL: INSERT INTO transactions (id, empid, transfer_date, amount, status) VALUES         (%(id)s, %(empid)s, %(transfer_date)s, %(amount)s, %(status)s);]
[parameters: {'id': {231546789012}, 'empid': {16}, 'transfer_date': {'2021-11-30'}, 'amount': {nan}, 'status': {'Done'}}]
(Background on this error at: https://sqlalche.me/e/14/f405)
Failed to execute ddl and dml commands -- (psycopg2.ProgrammingError) can't adapt type 'set'
[SQL: INSERT INTO transactions (id, empid, transfer_date, amount, status) VALUES         (%(id)s, %(empid)s, %(transfer_date)s, %(amount)s, %(status)s);]
[parameters: {'id': {231547689012}, 'empid': {17}, 'transfer_date': {'2021-11-30'}, 'amount': {nan}, 'status': {'Done'}}]
(Background on this error at: https://sqlalche.me/e/14/f405)
Failed to execute ddl and dml commands -- (psycopg2.ProgrammingError) can't adapt type 'set'
[SQL: INSERT INTO transactions (id, empid, transfer_date, amount, status) VALUES         (%(id)s, %(empid)s, %(transfer_date)s, %(amount)s, %(status)s);]
[parameters: {'id': {231547680912}, 'empid': {18}, 'transfer_date': {'2021-11-30'}, 'amount': {nan}, 'status': {'Done'}}]
(Background on this error at: https://sqlalche.me/e/14/f405)
Failed to execute ddl and dml commands -- (psycopg2.ProgrammingError) can't adapt type 'set'
[SQL: INSERT INTO transactions (id, empid, transfer_date, amount, status) VALUES         (%(id)s, %(empid)s, %(transfer_date)s, %(amount)s, %(status)s);]
[parameters: {'id': {321456789012}, 'empid': {19}, 'transfer_date': {'2021-11-30'}, 'amount': {nan}, 'status': {'Done'}}]
(Background on this error at: https://sqlalche.me/e/14/f405)
Failed to execute ddl and dml commands -- (psycopg2.ProgrammingError) can't adapt type 'set'
[SQL: INSERT INTO transactions (id, empid, transfer_date, amount, status) VALUES         (%(id)s, %(empid)s, %(transfer_date)s, %(amount)s, %(status)s);]
[parameters: {'id': {321654789012}, 'empid': {20}, 'transfer_date': {'2021-11-30'}, 'amount': {nan}, 'status': {'Done'}}]
(Background on this error at: https://sqlalche.me/e/14/f405)
Failed to execute ddl and dml commands -- (psycopg2.ProgrammingError) can't adapt type 'set'
[SQL: INSERT INTO transactions (id, empid, transfer_date, amount, status) VALUES         (%(id)s, %(empid)s, %(transfer_date)s, %(amount)s, %(status)s);]
[parameters: {'id': {321456987012}, 'empid': {21}, 'transfer_date': {'2021-11-30'}, 'amount': {nan}, 'status': {'Done'}}]
(Background on this error at: https://sqlalche.me/e/14/f405)
Failed to execute ddl and dml commands -- (psycopg2.ProgrammingError) can't adapt type 'set'
[SQL: INSERT INTO transactions (id, empid, transfer_date, amount, status) VALUES         (%(id)s, %(empid)s, %(transfer_date)s, %(amount)s, %(status)s);]
[parameters: {'id': {325415689874}, 'empid': {22}, 'transfer_date': {'2021-11-30'}, 'amount': {nan}, 'status': {'Done'}}]
(Background on this error at: https://sqlalche.me/e/14/f405)
Failed to execute ddl and dml commands -- (psycopg2.ProgrammingError) can't adapt type 'set'
[SQL: INSERT INTO transactions (id, empid, transfer_date, amount, status) VALUES         (%(id)s, %(empid)s, %(transfer_date)s, %(amount)s, %(status)s);]
[parameters: {'id': {456256721348}, 'empid': {23}, 'transfer_date': {'2021-11-30'}, 'amount': {nan}, 'status': {'Done'}}]
(Background on this error at: https://sqlalche.me/e/14/f405)
Failed to execute ddl and dml commands -- (psycopg2.ProgrammingError) can't adapt type 'set'
[SQL: INSERT INTO transactions (id, empid, transfer_date, amount, status) VALUES         (%(id)s, %(empid)s, %(transfer_date)s, %(amount)s, %(status)s);]
[parameters: {'id': {245679345832}, 'empid': {24}, 'transfer_date': {'2021-11-30'}, 'amount': {nan}, 'status': {'Done'}}]
(Background on this error at: https://sqlalche.me/e/14/f405)
Failed to execute ddl and dml commands -- (psycopg2.ProgrammingError) can't adapt type 'set'
[SQL: INSERT INTO transactions (id, empid, transfer_date, amount, status) VALUES         (%(id)s, %(empid)s, %(transfer_date)s, %(amount)s, %(status)s);]
[parameters: {'id': {568025134566}, 'empid': {25}, 'transfer_date': {'2021-11-30'}, 'amount': {nan}, 'status': {'Done'}}]
(Background on this error at: https://sqlalche.me/e/14/f405)
Failed to execute ddl and dml commands -- (psycopg2.ProgrammingError) can't adapt type 'set'
[SQL: INSERT INTO transactions (id, empid, transfer_date, amount, status) VALUES         (%(id)s, %(empid)s, %(transfer_date)s, %(amount)s, %(status)s);]
[parameters: {'id': {456313578906}, 'empid': {26}, 'transfer_date': {'2021-11-30'}, 'amount': {nan}, 'status': {'Done'}}]
(Background on this error at: https://sqlalche.me/e/14/f405)
Failed to execute ddl and dml commands -- (psycopg2.ProgrammingError) can't adapt type 'set'
[SQL: INSERT INTO transactions (id, empid, transfer_date, amount, status) VALUES         (%(id)s, %(empid)s, %(transfer_date)s, %(amount)s, %(status)s);]
[parameters: {'id': {345513789074}, 'empid': {28}, 'transfer_date': {'2021-11-30'}, 'amount': {nan}, 'status': {'Done'}}]
(Background on this error at: https://sqlalche.me/e/14/f405)
Failed to execute ddl and dml commands -- (psycopg2.ProgrammingError) can't adapt type 'set'
[SQL: INSERT INTO transactions (id, empid, transfer_date, amount, status) VALUES         (%(id)s, %(empid)s, %(transfer_date)s, %(amount)s, %(status)s);]
[parameters: {'id': {467894563145}, 'empid': {29}, 'transfer_date': {'2021-11-30'}, 'amount': {nan}, 'status': {'Done'}}]
(Background on this error at: https://sqlalche.me/e/14/f405)
Failed to execute ddl and dml commands -- (psycopg2.ProgrammingError) can't adapt type 'set'
[SQL: INSERT INTO transactions (id, empid, transfer_date, amount, status) VALUES         (%(id)s, %(empid)s, %(transfer_date)s, %(amount)s, %(status)s);]
[parameters: {'id': {345677892456}, 'empid': {30}, 'transfer_date': {'2021-11-30'}, 'amount': {nan}, 'status': {'Done'}}]
(Background on this error at: https://sqlalche.me/e/14/f405)
Failed to execute ddl and dml commands -- (psycopg2.ProgrammingError) can't adapt type 'set'
[SQL: INSERT INTO transactions (id, empid, transfer_date, amount, status) VALUES         (%(id)s, %(empid)s, %(transfer_date)s, %(amount)s, %(status)s);]
[parameters: {'id': {344456780786}, 'empid': {1}, 'transfer_date': {'2021-12-31'}, 'amount': {nan}, 'status': {'Done'}}]
(Background on this error at: https://sqlalche.me/e/14/f405)
Failed to execute ddl and dml commands -- (psycopg2.ProgrammingError) can't adapt type 'set'
[SQL: INSERT INTO transactions (id, empid, transfer_date, amount, status) VALUES         (%(id)s, %(empid)s, %(transfer_date)s, %(amount)s, %(status)s);]
[parameters: {'id': {345678906798}, 'empid': {2}, 'transfer_date': {'2021-12-31'}, 'amount': {nan}, 'status': {'Done'}}]
(Background on this error at: https://sqlalche.me/e/14/f405)
Failed to execute ddl and dml commands -- (psycopg2.ProgrammingError) can't adapt type 'set'
[SQL: INSERT INTO transactions (id, empid, transfer_date, amount, status) VALUES         (%(id)s, %(empid)s, %(transfer_date)s, %(amount)s, %(status)s);]
[parameters: {'id': {985673562413}, 'empid': {3}, 'transfer_date': {'2021-12-31'}, 'amount': {nan}, 'status': {'Done'}}]
(Background on this error at: https://sqlalche.me/e/14/f405)
Failed to execute ddl and dml commands -- (psycopg2.ProgrammingError) can't adapt type 'set'
[SQL: INSERT INTO transactions (id, empid, transfer_date, amount, status) VALUES         (%(id)s, %(empid)s, %(transfer_date)s, %(amount)s, %(status)s);]
[parameters: {'id': {531577800642}, 'empid': {4}, 'transfer_date': {'2021-12-31'}, 'amount': {nan}, 'status': {'Done'}}]
(Background on this error at: https://sqlalche.me/e/14/f405)
Failed to execute ddl and dml commands -- (psycopg2.ProgrammingError) can't adapt type 'set'
[SQL: INSERT INTO transactions (id, empid, transfer_date, amount, status) VALUES         (%(id)s, %(empid)s, %(transfer_date)s, %(amount)s, %(status)s);]
[parameters: {'id': {345097614232}, 'empid': {5}, 'transfer_date': {'2021-12-31'}, 'amount': {nan}, 'status': {'Done'}}]
(Background on this error at: https://sqlalche.me/e/14/f405)
Failed to execute ddl and dml commands -- (psycopg2.ProgrammingError) can't adapt type 'set'
[SQL: INSERT INTO transactions (id, empid, transfer_date, amount, status) VALUES         (%(id)s, %(empid)s, %(transfer_date)s, %(amount)s, %(status)s);]
[parameters: {'id': {478913063333}, 'empid': {6}, 'transfer_date': {'2021-12-31'}, 'amount': {nan}, 'status': {'Done'}}]
(Background on this error at: https://sqlalche.me/e/14/f405)
Failed to execute ddl and dml commands -- (psycopg2.ProgrammingError) can't adapt type 'set'
[SQL: INSERT INTO transactions (id, empid, transfer_date, amount, status) VALUES         (%(id)s, %(empid)s, %(transfer_date)s, %(amount)s, %(status)s);]
[parameters: {'id': {553211156796}, 'empid': {7}, 'transfer_date': {'2021-12-31'}, 'amount': {nan}, 'status': {'Done'}}]
(Background on this error at: https://sqlalche.me/e/14/f405)
Failed to execute ddl and dml commands -- (psycopg2.ProgrammingError) can't adapt type 'set'
[SQL: INSERT INTO transactions (id, empid, transfer_date, amount, status) VALUES         (%(id)s, %(empid)s, %(transfer_date)s, %(amount)s, %(status)s);]
[parameters: {'id': {745234543344}, 'empid': {8}, 'transfer_date': {'2021-12-31'}, 'amount': {nan}, 'status': {'Done'}}]
(Background on this error at: https://sqlalche.me/e/14/f405)
Failed to execute ddl and dml commands -- (psycopg2.ProgrammingError) can't adapt type 'set'
[SQL: INSERT INTO transactions (id, empid, transfer_date, amount, status) VALUES         (%(id)s, %(empid)s, %(transfer_date)s, %(amount)s, %(status)s);]
[parameters: {'id': {234459874677}, 'empid': {11}, 'transfer_date': {'2021-12-31'}, 'amount': {nan}, 'status': {'Done'}}]
(Background on this error at: https://sqlalche.me/e/14/f405)
Failed to execute ddl and dml commands -- (psycopg2.ProgrammingError) can't adapt type 'set'
[SQL: INSERT INTO transactions (id, empid, transfer_date, amount, status) VALUES         (%(id)s, %(empid)s, %(transfer_date)s, %(amount)s, %(status)s);]
[parameters: {'id': {478899945442}, 'empid': {12}, 'transfer_date': {'2021-12-31'}, 'amount': {nan}, 'status': {'Done'}}]
(Background on this error at: https://sqlalche.me/e/14/f405)
Failed to execute ddl and dml commands -- (psycopg2.ProgrammingError) can't adapt type 'set'
[SQL: INSERT INTO transactions (id, empid, transfer_date, amount, status) VALUES         (%(id)s, %(empid)s, %(transfer_date)s, %(amount)s, %(status)s);]
[parameters: {'id': {675242145778}, 'empid': {13}, 'transfer_date': {'2021-12-31'}, 'amount': {nan}, 'status': {'Done'}}]
(Background on this error at: https://sqlalche.me/e/14/f405)
Failed to execute ddl and dml commands -- (psycopg2.ProgrammingError) can't adapt type 'set'
[SQL: INSERT INTO transactions (id, empid, transfer_date, amount, status) VALUES         (%(id)s, %(empid)s, %(transfer_date)s, %(amount)s, %(status)s);]
[parameters: {'id': {567890745314}, 'empid': {14}, 'transfer_date': {'2021-12-31'}, 'amount': {nan}, 'status': {'Done'}}]
(Background on this error at: https://sqlalche.me/e/14/f405)
Failed to execute ddl and dml commands -- (psycopg2.ProgrammingError) can't adapt type 'set'
[SQL: INSERT INTO transactions (id, empid, transfer_date, amount, status) VALUES         (%(id)s, %(empid)s, %(transfer_date)s, %(amount)s, %(status)s);]
[parameters: {'id': {345678909765}, 'empid': {15}, 'transfer_date': {'2021-12-31'}, 'amount': {nan}, 'status': {'Done'}}]
(Background on this error at: https://sqlalche.me/e/14/f405)
Failed to execute ddl and dml commands -- (psycopg2.ProgrammingError) can't adapt type 'set'
[SQL: INSERT INTO transactions (id, empid, transfer_date, amount, status) VALUES         (%(id)s, %(empid)s, %(transfer_date)s, %(amount)s, %(status)s);]
[parameters: {'id': {987237645000}, 'empid': {16}, 'transfer_date': {'2021-12-31'}, 'amount': {nan}, 'status': {'Done'}}]
(Background on this error at: https://sqlalche.me/e/14/f405)
Failed to execute ddl and dml commands -- (psycopg2.ProgrammingError) can't adapt type 'set'
[SQL: INSERT INTO transactions (id, empid, transfer_date, amount, status) VALUES         (%(id)s, %(empid)s, %(transfer_date)s, %(amount)s, %(status)s);]
[parameters: {'id': {123456799999}, 'empid': {17}, 'transfer_date': {'2021-12-31'}, 'amount': {nan}, 'status': {'Done'}}]
(Background on this error at: https://sqlalche.me/e/14/f405)
Failed to execute ddl and dml commands -- (psycopg2.ProgrammingError) can't adapt type 'set'
[SQL: INSERT INTO transactions (id, empid, transfer_date, amount, status) VALUES         (%(id)s, %(empid)s, %(transfer_date)s, %(amount)s, %(status)s);]
[parameters: {'id': {345678111110}, 'empid': {18}, 'transfer_date': {'2021-12-31'}, 'amount': {nan}, 'status': {'Done'}}]
(Background on this error at: https://sqlalche.me/e/14/f405)
Failed to execute ddl and dml commands -- (psycopg2.ProgrammingError) can't adapt type 'set'
[SQL: INSERT INTO transactions (id, empid, transfer_date, amount, status) VALUES         (%(id)s, %(empid)s, %(transfer_date)s, %(amount)s, %(status)s);]
[parameters: {'id': {987123566666}, 'empid': {19}, 'transfer_date': {'2021-12-31'}, 'amount': {nan}, 'status': {'Done'}}]
(Background on this error at: https://sqlalche.me/e/14/f405)
Failed to execute ddl and dml commands -- (psycopg2.ProgrammingError) can't adapt type 'set'
[SQL: INSERT INTO transactions (id, empid, transfer_date, amount, status) VALUES         (%(id)s, %(empid)s, %(transfer_date)s, %(amount)s, %(status)s);]
[parameters: {'id': {777444689079}, 'empid': {20}, 'transfer_date': {'2021-12-31'}, 'amount': {nan}, 'status': {'Aborted'}}]
(Background on this error at: https://sqlalche.me/e/14/f405)
Failed to execute ddl and dml commands -- (psycopg2.ProgrammingError) can't adapt type 'set'